<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Foodie</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <link href="https://fonts.googleapis.com/css?family=Bonbon" rel="stylesheet">

    <link rel="stylesheet" href="/styles/landing.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript"
            async></script>
</head>
<body>

<div class="container">
    <div id="welcome-gp">
        <h1>foodie</h1>
        <p class="link">The most delicious places for you</p>
        <br>
        <a href="/locations" id="landing-btn" class="btn btn-primary btn-lg">Get Started</a>
    </div>

    <ul class="background-images">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</div>

<% include partials/footer %>